<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>쿠팡 주문 페이지</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h2>쿠팡 주문 페이지</h2>

    <div class="button-container">
        <a href="/member/main">메인화면</a>
    </div>
    <table>
        <tr>
            <th>itemName</th>
            <th>itemPrice</th>
            <th>itemDetail</th>

            <th>장바구니 담기</th>
        </tr>
        <tr th:each="item: ${itemList}">
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.itemPrice}"></td>
            <td th:text="${item.itemDetail}"></td>
            <td>
                <!-- 장바구니 버튼 -->
                <form th:action="@{/cart/cartAdd/{itemId}(itemId=${item.id})}" method="post">
                    <input type="hidden" name="itemId" th:value="${item.id}">
                    <input type="hidden" name="quantity" value="1"> <!-- 수량은 임의로 1로 지정 -->
                    <button type="submit">장바구니 담기</button>
                </form>
            </td>
        </tr>
    </table>

    <div id="message" style="display: none;">
        장바구니에 상품이 추가되었습니다!
    </div>


</div>
</body>
</html>
