<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <h2>주문 목록</h2>
    <div class="button-container">
        <a href="/order" class="button">주문하기</a>
    </div>
    <table>
        <tr>
            <th>상품명</th>
            <th>가격</th>
            <th>상세</th>
            <th>배송지</th>
        </tr>
        <tr th:each="order : ${orderItems}">
            <td th:text="${order.itemName}"></td>
            <td th:text="${order.itemPrice}"></td>
            <td th:text="${order.itemDetail}"></td>
            <!--<td th:text="${order.deliveryAddress}"></td> -->
        </tr>
    </table>
</div>
</body>
</html>
